<div class="container">
    <div class="row">
        <!-- Cathegories -->
        <div class="col-sm-3 col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading"> {{ cathegoriesTitle }} </div>
                <div class="panel-body">
                    <ul *ngIf="hasCathegories()">
                        <li *ngFor="let cathegory of cathegories">{{ cathegory.name }}</li>
                    </ul>
                    <span *ngIf="!hasCathegories()">{{ noCathegoriesMessage }}</span>
                </div>
            </div>
        </div>
        <!-- Selected cathegory content -->
        <div class="col-sm-9 col-md-10">
            Cathegory content (placeholder)
        </div>
    </div>
</div>



